APP_ENV=local
APP_DEBUG=true
APP_KEY=YBBtFQsk2GCCV02mUtxumlnSBAYYE3gh

FB_API_ID=1207800039234454
FB_API_SECRET=b51fade5e828a7e4e8ce77c4e26c21a7

DB_ENV=development


DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
